body {
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }

  .header {
    align-items: center;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 100px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background: linear-gradient(180deg, #BEE4FF, #e1ffea22 60%);
    color: black;
  }
  .about-section h1 {
    font-size: 90px;
  }
  .about-section p {
    font-size: 20px;
  }
  .about-intro h2 {
    font-size: 20px;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #0a588f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-family: 'Dosis';
  }
  
  .button:hover {
    background-color: #555;
  }